html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__list:hover .drop__ul {
    display: flex;
}

.drop__ul {
    display: none;
}